{% extends 'BackendBundle::layout.html.twig' %}

{% block content -%}

    <div class="inner" data-ng-app="ofertaApp">
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">

                    <div class="panel-heading" data-ng-controller="modalController">
                        Ofertas
                        <a class="btn btn-mini pull-right add" title="Adicionar" data-ng-click="launchCustom()"><i class="icon-plus"></i>  </a>

                    </div>

                    <div class="panel-body">
                        <div class="table-responsive">
                            <table id="tabla" class="table table-striped table-bordered table-hover">
                                <thead>
                                <tr>
                                    <th>Nombre</th>
                                    <th>Descripción</th>
                                    <th>Imagen</th>
                                    <th>Precio</th>
                                    <th>Disponible</th>
                                    <th>Acciones</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for entity in entities %}
                                    <tr>
                                        <td>{{ entity.nombre }}</td>
                                        <td>{{ entity.descripcion }}</td>
                                        <td>
                                            <div>
                                                <img class="img-table" src="{{ vich_uploader_asset(entity, 'imageFile') }}"/>
                                            </div>

                                        </td>
                                        <td>{{ entity.precio }}</td>
                                        <td>
                                            {% if entity.disponible %}
                                               Sí
                                            {% else %}
                                               No
                                            {% endif %}
                                        </td>
                                        <td class="actions">
                                            <div class="hidden-phone visible-desktop btn-group">
                                                <a class="btn btn-mini edit" title="Editar" href="{{ path('oferta_edit',{id: entity.id}) }}" data-id="{{ entity.id }}" data-name="{{ entity.nombre }}"><i class="icon-edit"></i></a>
                                                <button class="btn btn-mini delete" title="Eliminar" data-id="{{ entity.id }}"><i class="icon-trash" ></i></button>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    {#Modals#}
    <!--Add Modal-->
    <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myModalAdd" class="modal fade" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                    <h4 id="myModalLabel" class="modal-title">Adicionar Oferta</h4>
                </div>
                <div class="modal-body" >
                  <form role="form" enctype="multipart/form-data" action="{{ path('oferta_create') }}" method="post">
                      <div class="form-group">
                          <label for="ofertaNamne">Nombre</label>
                          {{ form_widget(form.nombre) }}
                          {#<input type="text" id="ofertaNamne" placeholder="Nombre"/>#}
                      </div>

                      <div class="form-group">
                          <label for="ofertaText">Descripción</label>
                          {{ form_widget(form.descripcion) }}
                          {#<input type="text" id="ofertaText" placeholder="Descripción"/>#}
                      </div>
                      <div class="form-group">
                          {#<label for="ofertaImagen">Foto</label>#}
                          {{ form_widget(form.imageFile) }}
                          {#<input type="file" class="imagen" id="ofertaImagen" placeholder="Imagen"/>#}
                      </div>
                      <div class="form-group">
                          <label for="ofertaPrecio">Precio</label>
                          {{ form_widget(form.precio) }}
                          {#<input type="text" id="ofertaPrecio" placeholder="Precio"/>#}
                      </div>

                      <div class="form-group">
                          <label for="ofertaDisponible">Disponible</label>
                          {{ form_widget(form.disponible) }}
                          {#<input type="text" id="ofertaPrecio" placeholder="Precio"/>#}
                      </div>
                      <div class="se-pre-con hidden"></div>
                      {{ form_rest(form) }}
                  </form>
                </div>
                <div class="modal-footer">
                    <button data-dismiss="modal" class="btn btn-default" type="button">Cerrar</button>
                    <button class="btn btn-primary acept" type="submit">Guardar</button>
                </div>
            </div>
        </div>
    </div>

    {#Confirm#}
    <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myModalDelete" class="modal fade" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                    <h4 id="myModalLabel" class="modal-title">Adicionar Oferta</h4>
                </div>
                <div class="modal-body">
                    Eliminar la oferta
                </div>
                <div class="se-pre-con hidden"></div>
                <div class="modal-footer">
                    <button data-dismiss="modal" class="btn btn-default" type="button">Cancelar</button>
                    <button class="btn btn-primary delete" type="button">Aceptar</button>
                </div>
            </div>
        </div>
    </div>

    {% endblock %}
{% block JavaScriptInline %}
    <script src="{{ asset('bundles/backend/js/oferta.js') }}"></script>
{% endblock JavaScriptInline%}
{% block  stylesheet %}
    {{ parent() }}
    <link href="{{asset('bundles/backend/css/oferta.css')}}" rel="stylesheet" />
{% endblock stylesheet %}
