{% extends 'BackendBundle::layout.html.twig' %}

{% block content -%}

    <div class="inner" data-ng-app="interactApp">
        <div class="row" data-ng-controller="interactController">
            <div class="col-lg-12">
                <div class="panel panel-default">

                    <div class="panel-heading">
                        Asginar a <em class="fmenu" data-ng-model="menu">{{ menu.nombre }}</em>
                        <a class="btn btn-mini pull-right add" title="Adicionar al Menu">
                            <i class="icon-plus"></i>
                        </a>

                    </div>

                    <div class="panel-body">
                        <div class="row list"  data-ng-repeat="oferta in ofertas">
                            <div class="col-lg-2">
                             <div><input type="checkbox"  data-ng-click="asignar($index)" value="{{ '{{ oferta.id}}' }}"  id="{{ '{{ $index}}' }}">  <em data-ng-model="sOferta">{{ '{{ oferta.nombre }}' }}</em> </div>
                            </div>
                            <div class="col-lg-2">
                                {{ '{{ oferta.descripcion }}' }}
                            </div>
                            <div class="col-lg-2">
                               <img src=" {{ '{{ prefix }}/{{oferta.imagen }}' }}" class="thumbnail img-table">
                            </div>
                            <div class="col-lg-2">
                                {{ '{{ oferta.precio }}' }}
                            </div>

                        </div>

                    </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

{% endblock content %}
{% block JavaScriptInline %}
    {{ parent() }}
    <script src="{{ asset('bundles/backend/js/interact.js') }}"></script>
{% endblock JavaScriptInline%}
{% block  stylesheet %}
    {{ parent() }}
    <link href="{{asset('bundles/backend/css/menu.css')}}" rel="stylesheet" />
{% endblock stylesheet %}